@model Employee

<form method="post" asp-action="Create">
    <div class="border p-4 mt-5">
        <div class="row pb-2">
            <h2 class="text-primary">
                Create Employee
            </h2>
            <hr />
        </div>
        @*<div asp-validation-summary="All"></div>*@
        <div class="mb-3">
            <label asp-for="IdentityNumber"></label>
            <input asp-for="IdentityNumber" class="form-control" />
            <span asp-validation-for="IdentityNumber" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="FirstName"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="LastName"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="CompanyId"></label>
            <input asp-for="CompanyId" class="form-control" />
            <span asp-validation-for="CompanyId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:130px">Create</button>
        <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary" style="width:130px">
            Back To List
        </a>
    </div>
</form>

@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    }