@model Company

<form method="post" asp-action="Delete">
	<input asp-for="Id" hidden />
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Company</h2>
			<hr />
		</div>
		@*<div asp-validation-summary="All"></div>*@
		<div class="mb-3">
			<label asp-for="CompanyName"></label>
			<input asp-for="CompanyName" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="TaxNumber"></label>
			<input asp-for="TaxNumber" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="TaxOffice"></label>
			<input asp-for="TaxOffice" disabled class="form-control" />
		</div>
		<div class="mb-3">
			<label asp-for="Adresses"></label>
			<input asp-for="Adresses" disabled class="form-control" />
		</div>
		<button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
		<a asp-controller="Company" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}